*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
body{
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#666;
	 
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
input{
	border:none;
	outline: none;
}
img{
  display: block;
}
.s_left{
	float:left;
}
.s_right{
	float:right;
}
.clearfix::before,
.clearfix::after{
	content:'';
	height: 0;
	line-height: 0;
	visibility: hidden;
	display: block;
	clear:both;
}

/*头部*/
.body{
	background: #FA9917;
}
.header{
	padding:0.2rem;
	background: #ffa217; 
}
.logo>img{
	width:2.1rem;
}

.header-text>p{
	float:right;
}
.header-text>p:nth-child(3){
	width:3.12rem;
	height:2px;
	background:#00a3af;
	margin-top:0.1rem;
}
.header-text>p:first-child{
	color:#fff;
	font-size: 0.14rem;
}
.header-text>p:nth-child(2){
	margin-top:0.1rem;
	width:100%;
}
.header-text>p:nth-child(2)>img{
	width:4.24rem;
	float:right;
}
/*自测表*/
.selfTest{
	padding:0 0.2rem 0 0.2rem;
	background: #FA9917; 
}
.selfTest>p:first-child{
	float:right;
	font-size:0.38rem;
	color:#fff;
	font-weight: bold;
}
.selfTest>p:nth-child(2){
	width:100%;
	/*text-align: center;*/
}
.selfTest>p>img{
	width:5.56rem;
	margin-left:0.13rem;
}
.footer{
	padding:0 0.2rem 0 0.2rem;
	text-align: center;
}
.footer>p:first-child{
	color:#fff;
	font-size:0.3rem;
    margin-top:1.5rem;
    font-weight: bold;
    background: #FA9917; 
}
.footer>p:nth-child(2)>a{
	display: inline-block;
	width:2.5rem;
	/*height:0.35rem;*/
	padding:0.08rem 0;
	/*border:1px solid #000;*/
	border-radius:10px;
	background: #fff;
	color:#E23D0D;
	font-size:0.2rem;
	font-weight: bold;
}
/*实体店盈利能力自测表样式*/
.selfTestSheet{
	background-image: url(images/)
}

/*实体店经营调查表样式*/
.productBody{
	background-image: url(../images/backgroundImg.png);
}
.productHeader{
	background:#E97716;
	text-align: center;
	color:#fff;
	font-size: 0.2rem;
	font-weight: bold; 
	margin:0.6rem 0 0 0.1rem;
	padding:0.3rem 0 0.3rem 0;
}
/*产品体系*/
.productMain{
	margin:2rem 0.4rem 0 0.4rem;
	/*border:1px solid #000;*/
}
.productTitle{
	color：#333;
	font-weight: bold;
	font-size:0.14rem;
}
.line{
	width:2rem;
	height:2px;
	background:#4D8CF6;
	border-radius:1px;
	margin:0.5rem 0;
}
/*产品列表*/
.questionList{
	width:100%;
	margin-bottom: 0.2rem;
}
.questionList>dt{
	background:#FEA620; 
	color:#fff;
	font-weight: bold;
	font-size: 0.2rem;
	padding:0 0.4rem 0  0.4rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:0.3rem 0 0.3rem 1rem;
	/*margin-left:0.5rem;*/
}
.questionList>dd{
	/*color:#fff;*/
	font-size: 0.1rem;
	background: #FEB546;
	color:#fff;
	padding:0 0 0 1rem;

}
.questionList>dd:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 0.5rem;
}
.questionList>dd:first-child{
	padding-top: 0.5rem;
}
/*页脚*/
.productFooter>a{
	display: inline-block;
	width:100%;
	background:#E97716;
	position: absolute;
	bottom: 0;
	text-align: center;
	color:#fff;
	padding:0.3rem 0;
}

/*实体店经营调查表样式*/
.user{
	height:100vh;
	background:#FBB442;
}
.userTitle{
	background:#E73914;
	padding:0.3rem 0;
	color:#fff;
	text-align: center;
	font-size: 0.12rem;
}
.userTip{
	text-align: right;
}
.userTip>img{
	width:2rem;
	float:right;
}
.userPic{
	background:#fff;
	border-radius: 5px;
	padding:1rem 0.5rem;

}
.userMain{
	/*padding:0 0.5rem 0 0.5rem;*/
	margin:2rem 0.5rem 0;
	background:#fff; 
	height:85%;
	border-radius: 5px;
}
.picTit{
	font-weight: bold;
	color:#000;
}
.userPic>div{
	margin-top:3rem;
	text-align: center;
}
.userPic>div>img{
	width:6.75rem;
	height:5rem;
	float:left;
	/*vertical-align: bottom;*/
}
.userPic>div>span{
	display: inline-block;
	width:6rem;
	height:6rem;
	border:1px solid #000;
	float:left;
}
.table{
	/*border:1px solid #4F4E49;*/
	border: solid thin #4F4E49;
	border-bottom: 0;
}
.first{
	width:40%;
	text-align: center;
	background: #00B39E;
	color:#fff;
	font-size:0.14rem;
	padding:0.6rem 0;
	border-bottom:solid thin #4F4E49;
}
.last{
	width:60%;
	text-align: center;
	background: #FEA316;
	color:#fff;
	font-size:0.14rem;
	padding:0.6rem 0;
	border-bottom:solid thin #4F4E49;

}